/* body {
  
  background-color: #ceeaf7;
  background-image: linear-gradient(to bottom, #ffffff, #ceeaf7);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#weight::placeholder,
#height::placeholder,
#weight,
#height {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  body {
    background-image: linear-gradient(to bottom, #ffffff, #ceeaf7);
  }
}
#calculate {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#global {
  color: #ffffff;
  position: relative;
  width: 500px;
  height: 150px;
  background-color: #ceeaf7;
  border-radius: 10px;
  border: 0.1px solid #ccd7e4;
  box-shadow: 12px 14px 42px 5px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 12px 14px 42px 5px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 12px 14px 42px 5px rgba(0, 0, 0, 0.29);
  display: grid;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

input {
  width: 50px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333333;
  transition: background-color 0.3s ease;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #e1f1f8;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 3px 1px;
  margin-bottom: 2px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background-color: #ceeaf7;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + label {
  background-color: #ffffff;
  color: #ceeaf7;
} */

/* Reset des styles par défaut */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  color: #333;
  line-height: 1.4;
}

#header {
  background-color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
}

#global {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#global input[type="radio"] {
  margin-right: 10px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 200px;
}

button {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

#result {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  #global {
    margin: 10px;
  }

  input[type="text"],
  button {
    width: 100%;
  }
}
